@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: AntiqueWhite;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.showbtn {
  cursor: pointer;
  background: salmon;
  border: 2px solid White;
  color: white;
  font-size: 12px;
  padding: 5px;
}


.actions button {
  background: none;
  cursor: pointer;
  border: none;
  color: black;
  font-size: 12px;
  padding: 5px;
}

.actions button:hover {
  border: 1px solid black;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.main {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.singleContainer {
  width: 25%;
  padding: 20px;
}

.singleContainer img{
  display: block;
}

.description {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 25px;
}

.mealImg {
  max-width: 90%;
  border-radius: 15px;
}

.mealContent {
  width: 27%;
  padding: 10px;
}

.categorieDetails {
  width: 50%;
  padding: 20px;
  margin: 20px 0px;
}

.actions {
  padding-top: 10px;
  display: flex;
  gap: 5px;
  width: 100%;
}

.actions .fa-thumbs-up {
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.actions .fa-thumbs-up:hover {
  transform: rotate(-15deg);
}

.actions .fa-thumbs-up.active {
  color: salmon;
}
